    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
    @keyframes titleEffect {
    from {
        opacity: 0;
        font-size: 0vw;
        letter-spacing: -.4em;
    }
    to {
        opacity: 1;
        font-size: 7.5vw;
        letter-spacing: .2em;
       }
    }
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .title {
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: 7.5vw;
      letter-spacing: .2em;
      background: -webkit-linear-gradient(#ffff80, #ffbf40);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-font-smoothing: antialiased;
      animation: titleEffect 0.75s
    }
    .container {
        display: inline-block;
    }
    p {
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 400;
      font-style: normal;
      background: -webkit-linear-gradient(#ffff80, #ffbf40);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-font-smoothing: antialiased;
    }
    body{
      background: linear-gradient(#080808, #313131);
      margin-top: 17.5px;
    }
