@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

.maincon {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
}

body {
    background: #121417;
}

.title {
    background: -webkit-linear-gradient(#45FFB2, #353580);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
