@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

.maincon {
    width: 100%;
    height: fit-content;
    display: block;
}

body {
    background: #121417;
    font-family: Space Grotesk;
    color: white;
    align-content: center;
    text-align: center;
}

.title {
    background: -webkit-linear-gradient(#45FFB2, #353580);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9vw;
    margin: .7vw;
}

p {
    font-size: 2vw;
    margin: .7vw;
}

.footer {
    font-size: 1.5vw;
    color: #FFFFFF7B;
}
