@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

.maincon {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
}

body {
    background: #121417;
    font-family: Space Grotesk;
    color: white;
}

.title {
    background: -webkit-linear-gradient(#45FFB2, #353580);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
}

p {
    font-size: 2.5vw
}
