@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@-webkit-keyframes glow {
  from {
    filter: drop-shadow(0px 15px 8vw rgb(0 180 194 / 40%));
    letter-spacing: -.1vm;
  }
  to {
    filter: drop-shadow(0px 15px 11vw rgb(0 180 194 / 55%));
    letter-spacing: .1vm;
  }
}

.maincon {
    width: 100%;
    height: fit-content;
    display: block;
}

body {
    background: #121417;
    font-family: Inter;
    color: white;
    align-content: center;
    text-align: center;
}

.title {
    background: -webkit-linear-gradient(#45FFB2, #353580);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 9vw;
    margin: .7vw;
    filter: drop-shadow(0px 15px 10rem rgb(0 180 194 / 50%));
    animation: glow 4s ease-in-out infinite;
    letter-spacing: -.1vm;
}

p {
    font-size: 2vw;
    margin: .7vw;
    font-weight: 300;
}

.footer {
    font-size: 1.5vw;
    color: #FFFFFF7B;
}
