@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
  font-family: Raleway;
  margin: 0px;
}

nav {
  background: linear-gradient(#ccc, #aaa);
  height: 120px;
  padding: 7px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: black;
}
