@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
  font-family: Raleway;
  margin: 0px;
}

nav {
  background: linear-gradient(#eee, #ccc);
  height: 150px;
  padding: 7px;
  color: black;
}
